<div>
  <dsfr-card
    [heading]="house.name"
    [detail]="'à ' + house.city"
    [imagePath]="house.photo"
    [imageAlt]="house.name | test: '-- ' : ' __' : 10"
    [size]="'SM'"
    [hasFooter]="true"
    [routePath]="['/annonce', house.id.toString()]"
  >
    <ng-content footer>
      <p>
        {{ house.rental | tax | currency: 'EUR' }} / mois ou
        {{ house.price | tax | currency: 'EUR' }}
      </p>
      <p>{{ house.rooms }} pièces {{ house.wifi ? 'avec' : 'sans' }} WiFi</p>

      <dsfr-button label="Acheter" (click)="addToCart()" />

      <p>{{ random() }}</p>
    </ng-content>
  </dsfr-card>
</div>
