<div class="fr-container">
  <div style="margin-bottom: 20px;">
    <dsfr-header
      [logoLabel]="title"
      [logoLink]="'/'"
      (click)="title = 'Immobiliare 2'"
    >
      <ng-template #headerTools>
        <nav style="display: flex; gap: 20px">
          <a [routerLink]="['/']">Accueil</a>
          <a [routerLink]="['/annonces']">Annonces</a>
          <a [routerLink]="['/panier']">Panier</a>
        </nav>
      </ng-template>
    </dsfr-header>
  </div>

  <router-outlet />
</div>
